/personal_variables
/formulaireContact.php
/post_contact_form.php
/chat.php
/action_article.php
/team/*
/team/portfolioDenis/*
# /assets/photos/profils/*
/photos/*
/assets/uploadPersonal/*
/pages/article.php
/NOT_IN_GIT/*