
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(156, 223, 248);
    margin: 0;
padding: 0;
}

h1{
    color: rgb(224, 42, 42);
}

#control {
    padding: 0;
    background-color: black;
    color: white;
    width: 768px;
    margin: 0 auto;
    padding: 20px 40px;
}

#control .query{
  display: flex;
  flex-wrap: nowrap;

}
#control .query > input {
    width: 100%;
}

#control .query::before {
    content: "Votre recherche : ";
    color: rgb(192, 153, 153);
    display: block;
    white-space: nowrap;
    margin-right: 1em;
}

footer {
    text-align: center;
}

main {
    width: 768px;
    margin: 0 auto;
    padding: 40px;
    line-height: 1.45;
}

.surligne {
    background-color: gold;
    position: relative;
    padding: 3px 5px;
    margin: -3px -5px;
    z-index: -1;
}