    


    <br>
    <br>

    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>

    <br>
    <br>

    <button type="button" class="btn btn-dominanteLighter2">testCouleur</button>
    <button type="button" class="btn btn-dominanteLighter1">testCouleur</button>
    <button type="button" class="btn btn-dominante">testCouleur</button>
    <button type="button" class="btn btn-dominanteDarker1">testCouleur</button>
    <button type="button" class="btn btn-dominanteDarker2">testCouleur</button>

    <br>
    <br>

    <button type="button" class="btn btn-secondaireLighter2">testCouleur</button>
    <button type="button" class="btn btn-secondaireLighter1">testCouleur</button>
    <button type="button" class="btn btn-secondaire">testCouleur</button>
    <button type="button" class="btn btn-secondaireDarker1">testCouleur</button>
    <button type="button" class="btn btn-secondaireDarker2">testCouleur</button>